{% extends 'buildings/base.html' %}

{% block content %}

<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Building at {{building.address}}</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'update_building' building.id %}">Update Building</a>
			<a class="btn btn-outline-danger  btn-sm btn-block" href="{% url 'delete_building' building.id %}">Delete Building</a>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Administrator of this building</h5>
			<hr>
			<p>First name: {{building.profile.user.first_name}}</p>
			<p>Last name: {{building.profile.user.last_name}}</p>
			<p>Email: {{building.profile.user.email}}</p>
			<p>Phone: {{building.profile.cellphone}}</p>
		</div>
	</div>
</div>

<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Address</th>
					<th>Floors</th>
					<th>Apartments</th>
					<th>Reserve</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>

				<tr>
					<td>{{building.address}}</td>
					<td>{{building.floors}}</td>
					<td>{{building.apartments}}</td>
					<td>{{building.reserve}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'update_building' building.id %}">Update</a></td>
					<td><a class="btn btn-sm btn-danger" href="{% url 'delete_building' building.id %}">Remove</a></td>
				</tr>

			</table>
		</div>
	</div>
</div>

{% endblock %}