{% extends 'buildings/base.html' %}

{% block content %}

<br>
<div class="row">
	<div class="col-md-6">
		<div class="card card-body">
            <p>Are you sure you want to delete the apartment on the {{ apartment.floor }} floor and at {{ apartment }} address?</p>

            <form action="{% url 'delete_apartment' apartment.id %}" method="POST">

                {% csrf_token %}
                <a class="btn btn-warning" href="{% url 'apartments' %}">Cancel</a>

                <input class="btn btn-danger" type="submit" name="Confirm">
            </form>
        </div>
	</div>
</div>

{% endblock %}