{% extends 'buildings/base.html' %}

{% block content %}


<br>

<div class="row">
	<div class="col-md">
		<h5>Payments that have been made</h5>
		<hr>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Tenant</th>
					<th>Total</th>
					<th>Month</th>
                    <th>Year</th>
                    <th>Payment_Made</th>
                </tr>

                    <tr>
						<td>{{payment.apartment}}</td>
                        <td>{{total}}</td>
                        <td>{{payment.month}}</td>
                        <td>{{payment.year}}</td>
                        <td>
                            <form action="" method="POST">
                                {% csrf_token %}
                                {{form.as_p}}
                                <input class="btn btn-info" type="submit" name="Submit">
                            </form>
                        </td>


                    </tr>
			</table>
		</div>
	</div>
</div>


{% endblock %}